In [36]:
import pandas as pd

In [37]:
heart_attack_pred = pd.read_csv("heart_attack_prediction_dataset.csv").drop(columns=["Patient ID", "Country", "Continent", "Hemisphere"])
heart_attack_pred.columns = map(str.lower, heart_attack_pred)
heart_attack_pred.head()

,age,sex,cholesterol,blood pressure,heart rate,diabetes,family history,smoking,obesity,alcohol consumption,...,previous heart problems,medication use,stress level,sedentary hours per day,income,bmi,triglycerides,physical activity days per week,sleep hours per day,heart attack risk
0,67,Male,208,158/88,72,0,0,1,0,0,...,0,0,9,6.615001,261404,31.251233,286,0,6,0
1,21,Male,389,165/93,98,1,1,1,1,1,...,1,0,1,4.963459,285768,27.194973,235,1,7,0
2,21,Female,324,174/99,72,1,0,0,0,0,...,1,1,9,9.463426,235282,28.176571,587,4,4,0
3,84,Male,383,163/100,73,1,1,1,0,1,...,1,0,9,7.648981,125640,36.464704,378,3,4,0
4,66,Male,318,91/88,93,1,1,1,1,0,...,1,0,6,1.514821,160555,21.809144,231,1,5,0

In [46]:
heart_attack_pred['bmi'] = round(heart_attack_pred['bmi'], 1)
heart_attack_pred.head()

,age,sex,cholesterol,blood pressure,heart rate,diabetes,family history,smoking,obesity,alcohol consumption,...,previous heart problems,medication use,stress level,sedentary hours per day,income,bmi,triglycerides,physical activity days per week,sleep hours per day,heart attack risk
0,67,male,208,158/88,72,0,0,1,0,0,...,0,0,9,6.615001,261404,31.3,286,0,6,0
1,21,male,389,165/93,98,1,1,1,1,1,...,1,0,1,4.963459,285768,27.2,235,1,7,0
2,21,female,324,174/99,72,1,0,0,0,0,...,1,1,9,9.463426,235282,28.2,587,4,4,0
3,84,male,383,163/100,73,1,1,1,0,1,...,1,0,9,7.648981,125640,36.5,378,3,4,0
4,66,male,318,91/88,93,1,1,1,1,0,...,1,0,6,1.514821,160555,21.8,231,1,5,0

In [47]:
medical_insurance = pd.read_csv("medical_insurance.csv")
medical_insurance['bmi'] = round(medical_insurance['bmi'], 1)
medical_insurance.head()

   age     sex   bmi  children smoker     region      charges
0   19  female  27.9         0    yes  southwest  16884.92400
1   18    male  33.8         1     no  southeast   1725.55230
2   28    male  33.0         3     no  southeast   4449.46200
3   33    male  22.7         0     no  northwest  21984.47061
4   32    male  28.9         0     no  northwest   3866.85520

In [48]:
heart_attack_pred['sex'] = heart_attack_pred['sex'].str.lower()
df = heart_attack_pred.merge(medical_insurance, on=['age', 'sex', 'bmi'])
df.head()

,age,sex,cholesterol,blood pressure,heart rate,diabetes,family history,smoking,obesity,alcohol consumption,...,income,bmi,triglycerides,physical activity days per week,sleep hours per day,heart attack risk,children,smoker,region,charges
0,36,male,203,173/109,101,1,1,1,0,0,...,102220,28.0,523,2,6,1,1,yes,northeast,20773.62775
1,36,male,203,173/109,101,1,1,1,0,0,...,102220,28.0,523,2,6,1,1,yes,northeast,20773.62775
2,22,female,206,134/94,104,0,1,0,0,1,...,128229,39.8,602,0,6,0,0,no,northeast,2755.02095
3,22,female,206,134/94,104,0,1,0,0,1,...,128229,39.8,602,0,6,0,0,no,northeast,2755.02095
4,18,male,396,110/101,45,0,0,1,0,1,...,138696,31.7,445,3,6,0,2,yes,southeast,34303.16720

In [51]:
df[['systolic blood pressure', 'diastolic blood pressure']] = df['blood pressure'].str.split('/', expand=True)
df = df.drop(columns=['blood pressure'])
df.head()

,age,sex,cholesterol,heart rate,diabetes,family history,smoking,obesity,alcohol consumption,exercise hours per week,...,triglycerides,physical activity days per week,sleep hours per day,heart attack risk,children,smoker,region,charges,systolic blood pressure,diastolic blood pressure
0,36,male,203,101,1,1,1,0,0,14.205527,...,523,2,6,1,1,yes,northeast,20773.62775,173,109
1,36,male,203,101,1,1,1,0,0,14.205527,...,523,2,6,1,1,yes,northeast,20773.62775,173,109
2,22,female,206,104,0,1,0,0,1,6.434847,...,602,0,6,0,0,no,northeast,2755.02095,134,94
3,22,female,206,104,0,1,0,0,1,6.434847,...,602,0,6,0,0,no,northeast,2755.02095,134,94
4,18,male,396,45,0,0,1,0,1,14.875171,...,445,3,6,0,2,yes,southeast,34303.16720,110,101

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5573c15e-87ef-4f02-8145-fd5408829827' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>